<div class="login">
  <div class="container">
    <div class="parentlogin">
      <form>
        <div class="title">
          <h1>Login</h1>
          <div class="icon">
            <div class="social"> <a href="#" class="social-icon"><span class="fa fa-facebook"></span></a></div>
            <div class="social"> <a href="#" class="social-icon"><span class="fa fa-twitter"></span></a></div>
          </div>
        </div>
        <label class="label" for="name">email</label>
        <input type="text" placeholder="username">
        <label class="label" for="password">Password</label>
        <input type="password" placeholder="password">
        <input type="submit" class="submit" value="Login" >
        <div class="extra">
          <div class="checkbox">
            <label><input type="checkbox" checked /> Remember me</label>
          </div>
          <div class="forget">
            <a href="#">Forgot Password</a>
          </div>
        </div>
      </form>
    </div>
    <div class="parentdesc">
      <div class="description">
        <h2>Welcome To Login</h2>
        <p>Don't have an account?</p>
        <a routerLink="/sign-up">Sign Up</a>
      </div>
    </div>
  </div>

</div>
